*~
*.clib
*.cmd
*.d
*.o
*.order
*.pyc
*.ko
*.lp
*.mldylib
*.mllib
*.native
*.sol
*.swp
*.symvers
_build
_tags
data/demands/abilene
expData
experiments/testbed/results
fftout
gurobi.log
INSTALL.txt
kernel/.tmp_versions
kernel/modkulfi.mod.c
META
myocamlbuild.ml
prediction/bin
prediction/obj
prediction/scripts/synthetic_demands
prediction/synthetic.txt
prediction/synthetic.txt_ElasticNetRegression
prediction/synthetic.txt_LinearRegression
prediction/synthetic.txt_lastOne
README.txt
routes/
setup.data
setup.log
setup.ml
