*~
*.mldylib
*.mllib
*.native
INSTALL.txt
myocamlbuild.ml
META
setup.ml
_build
_tags
setup.data
setup.log
README.txt
*.swp
gurobi.log
*.lp
*.sol
expData
*.pyc
*.clib
*.d
*.o
data/demands/abilene
prediction/bin
prediction/obj
prediction/scripts/synthetic_demands
prediction/synthetic.txt
prediction/synthetic.txt_ElasticNetRegression
prediction/synthetic.txt_LinearRegression
prediction/synthetic.txt_lastOne
experiments/testbed/results
fftout
