html, body {height:100%;}
html {display:table; width:1000px;}
body {display:table-cell; text-align:center; vertical-align:middle;}

h1 { background-color:#CCC;
    border: 1px solid;
    color:#39F;
    text-align: center;
    }

h2 { background-color:#BBB;
    border: 1px solid;
    color:#39F;
    text-align: center;
    }


table
 { background-color: #eee;    border: 1px solid #39F;    width: 800px;    }td {    border: 1px;    text-align: left;    }

p { color:#09F;    text-indent: 20px;  }
